*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  background-color: #5c539d;
}

header {
  width: 100%;
  text-align: center;
}

.table-container {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.pricetbl {
  padding: 1em 2.5em;
  background-color: rgb(39, 49, 61);
  border-radius: 10px;
}

.head {
  text-align: center;
  font-size: 1.3rem;
}

.price-period {
  text-align: center;
  margin: 3em 0;
}

.price-period .price {
  font-size: 2rem;
}

.feature li {
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.btn {
  display: block;
  margin: 2em 0;
  text-align: center;
}

.btn button {
  width: 100%;
  padding: 0.5em 3.5em;
  border: 1px solid red;
  color: white;
  background-color: rgb(39, 49, 61);
  border-radius: 10px;
}

.btn button:hover {
  background: red;
  transition: 0.3s ease-in-out;
}

.advanced,
.premium {
  margin-top: 2em;
}

@media (min-width: 800px) {
  .table-container {
    width: 100%;
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .starter,
  .advanced,
  .premium {
    flex-basis: 350px;
  }

  .pricetbl {
    padding: 1em 3.5em;
  }

  .advanced,
  .premium {
    margin-top: 0em;
  }
}
